.main {
  position: relative;
  width: 1300px;
  height: 2100px;
  margin: auto;
}
.main__block1 {
  position: absolute;
  margin: auto;
  top: -200px;
  height: 2400px;
}

.outside__block1 {
  background-color: #f4d0d9;
  border-radius: 1%;
  font-family: "Roboto", sans-serif;
  padding-top: 40px;
  box-sizing: border-box;
}

.block1__main-text {
  font-weight: 700;
  font-size: 40px;
  width: 200px;
  height: 50px;
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
}

.block1__description-text {
  font-weight: 400;
  font-size: 36px;
  width: 983px;
  height: 117px;
  text-align: center;
  margin: auto;
  margin-bottom: 70px;
}

.block1__sort-text {
  width: 196px;
  height: 35px;
  font-size: 30px;
  margin-bottom: 34px;
}

.block1__filters {
  width: 1212px;
  height: 50px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block1__filter {
  width: 150px;
  height: 50px;
  color: #fff;
  font-weight: 700;
  font-size: 28px;
  border: 0;
  background: url(./img/gifts/sort_block.png);
  text-align: center;
}

.selected-filter {
  background: url(./img/gifts/selected_sort_block.png);
  width: 155px;
  height: 55px;
}

.block1__products-container {
  display: grid;
  width: 1212px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  margin-bottom: 90px;
}

.product {
  width: 280px;
  height: 420px;
  background: url(./img/gifts/product_block.png);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.product__name {
  font-size: 18px;
  width: 154px;
  height: 40px;
  text-align: center;
}

.product__favourite-icon {
  width: 30px;
  height: 25px;
  position: absolute;
  top: 20px;
  right: 15px;
}

.product__cart-icon {
  width: 35px;
  height: 28px;
  position: absolute;
  top: 55px;
  right: 15px;
}

.product__image {
  width: 180px;
  height: 200px;
}

.product__price {
  width: 200px;
  height: 40px;
  font-size: 24px;
  color: #000;
  background: url(./img/gifts/no_sale_price.png);
  border: 0;
}

.no-sale-price {
  width: 200px;
  height: 30px;
  background: url(./img/gifts/price_block.png);
  text-decoration: line-through 3px #f50058;
  color: #000;
}

.product__sale-price {
  width: 200px;
  height: 30px;
  font-size: 24px;
  border: 0;
  text-align: center;
  background: url(./img/gifts/on-sale-price.png);
  color: #000;
}

.sale-amount {
  width: 65px;
  height: 36px;
  background: url(./img/gifts/sale_block.png);
  text-align: center;
  padding-top: 5px;
  box-sizing: border-box;
  font-size: 18px;
  position: absolute;
  top: 20px;
  left: 15px;
  color: #fff;
  font-weight: bold;
}
.favourite-selected {
  background: url(./img/gifts/heart_fill.png);
}

.cart-selected {
  background: url(./img/gifts/cart_fill.png);
}

.block1__page-buttons {
  width: 1212px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-button {
  width: 45px;
  height: 45px;
  background: url(./img/gifts/back_button.png);
  border: 0;
}

.next-button {
  width: 45px;
  height: 45px;
  background: url(./img/gifts/next_button.png);
  border: 0;
}

.page-button {
  width: 60px;
  height: 60px;
  border: 0;
  background: #fd8fb0;
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.selected-page {
  border: 5px solid #f50058;
}

.main__block2 {
  position: absolute;
  margin: auto;
  top: 1836px;
  height: 757px;
  z-index: 1000;
}

.outside__block2 {
  background: #f50058;
  border-radius: 1%;
  font-family: "Roboto", sans-serif;
  padding-top: 70px;
  box-sizing: border-box;
}

.block2__text {
  width: 420px;
  height: 36px;
  text-align: center;
  font-size: 36px;
  color: #fff;
  margin: auto;
  margin-bottom: 70px;
}

.block2__recents {
  width: 1212px;
  height: 500px;
  background: url(./img/gifts/recents.png);
  display: flex;
  align-items: center;
}

.product-recent {
  margin-left: 30px;
}

.gifts-footer {
  top: 2841px;
}

.sort_button {
  display: none;
}

.sort-text2 {
  display: none;
}

@media only screen and (max-width: 1290px) {
  .main {
    width: 720px;
    height: 2108px;
  }
  .main__block1 {
    top: -50px;
    height: 1716px;
  }

  .outside__block1 {
    padding-top: 25px;
  }

  .block1__main-text {
    font-size: 30px;
    width: 161px;
    height: 29px;
    margin-bottom: 20px;
  }

  .block1__description-text {
    font-size: 24px;
    width: 461px;
    height: 106px;
    margin-bottom: 40px;
  }

  .block1__sort-text {
    width: 140px;
    height: 23px;
    font-size: 20px;
    margin-bottom: 40px;
  }

  .sort_button {
    display: block;
    position: absolute;
    top: 225px;
    left: 165px;
    width: 15px;
    height: 15px;
    background: url(./img/gifts/sort_button.png);
    border: 0;
  }

  .sort-text1 {
    display: none;
  }
  .sort-text2 {
    display: block;
  }
  .block1__filters {
    display: none;
  }

  .block1__products-container {
    width: 654px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 27px;
    grid-row-gap: 34px;
    margin-bottom: 50px;
  }

  .product {
    width: 200px;
    height: 290px;
    background: url(./img/gifts/product_block2.png);
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .product__name {
    font-size: 15px;
    width: 118px;
    height: 33px;
  }

  .product__favourite-icon {
    width: 20px;
    height: 17px;
    top: 15px;
    right: 10px;
  }

  .product__cart-icon {
    width: 25px;
    height: 20px;
    top: 43px;
    right: 8px;
  }

  .product__image {
    width: 126px;
    height: 140px;
  }

  .product__price {
    width: 140px;
    height: 28px;
    font-size: 16px;
    background: url(./img/gifts/price_block2.png);
  }

  .block1__page-buttons {
    width: 654px;
    height: 45px;
  }

  .back-button {
    width: 36px;
    height: 36px;
    background: url(./img/gifts/back_button.png);
    background-size: cover;
  }

  .next-button {
    width: 36px;
    height: 36px;
    background: url(./img/gifts/next_button.png);
    background-size: cover;
  }

  .page-button {
    width: 45px;
    height: 45px;
    font-size: 24px;
  }

  .selected-page {
    border: 3px solid #f50058;
  }

  .main__block2 {
    top: 1650px;
    height: 533px;
  }

  .outside__block2 {
    padding-top: 40px;
  }

  .block2__text {
    width: 365px;
    height: 55px;
    font-size: 30px;
    margin-bottom: 30px;
  }

  .block2__recents {
    width: 654px;
    height: 364px;
    background: url(./img/gifts/recents2.png);
  }

  .product-recent {
    margin-left: 90px;
  }

  .gifts-footer {
    top: 2358px;
  }
}

@media only screen and (max-width: 660px) {
  .main {
    width: 280px;
    height: 1032px;
  }
  .main__block1 {
    top: -25px;
    height: 869px;
  }

  .outside__block1 {
    padding-top: 10px;
  }

  .block1__main-text {
    font-size: 12px;
    width: 63px;
    height: 17px;
    margin-bottom: 10px;
  }

  .block1__description-text {
    font-size: 11px;
    width: 211px;
    height: 49px;
    margin-bottom: 19px;
  }

  .block1__sort-text {
    width: 70px;
    height: 12px;
    font-size: 10px;
    margin-bottom: 18px;
  }

  .sort_button {
    top: 108px;
    left: 80px;
    width: 6px;
    height: 6px;
    background: url(./img/gifts/sort_button.png);
    background-size: cover;
  }
  .extra-product {
    display: none;
  }
  .extra-page {
    display: none;
  }
  .block1__products-container {
    width: 250px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-bottom: 24px;
  }

  .product {
    width: 115px;
    height: 155px;
    background: url(./img/gifts/product_block3.png);
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .product__name {
    font-size: 9px;
    width: 64px;
    height: 22px;
  }

  .product__favourite-icon {
    width: 10px;
    height: 8px;
    top: 10px;
    right: 10px;
  }

  .product__cart-icon {
    width: 11px;
    height: 8px;
    top: 23px;
    right: 9px;
  }

  .product__image {
    width: 60px;
    height: 60px;
  }

  .product__price {
    width: 80px;
    height: 24px;
    font-size: 11px;
    background: url(./img/gifts/price_block3.png);
  }

  .block1__page-buttons {
    width: 211px;
    height: 20px;
    margin: auto;
  }

  .back-button {
    width: 15px;
    height: 15px;
    background: url(./img/gifts/back_button.png);
    background-size: cover;
  }

  .next-button {
    width: 15px;
    height: 15px;
    background: url(./img/gifts/next_button.png);
    background-size: cover;
  }

  .page-button {
    width: 20px;
    height: 20px;
    font-size: 11px;
  }

  .selected-page {
    border: 1px solid #f50058;
  }

  .main__block2 {
    top: 837px;
    height: 241px;
  }

  .outside__block2 {
    padding-top: 15px;
  }

  .block2__text {
    width: 174px;
    height: 16px;
    font-size: 12px;
    margin-bottom: 12px;
  }

  .block2__recents {
    width: 250px;
    height: 180px;
    background: url(./img/gifts/recents3.png);
  }

  .product-recent-phone {
    margin-left: 68px;
  }

  .gifts-footer {
    top: 1130px;
  }
}
